/*Main page*/
main .itemMozaic{
  width: 100%;
  margin-left: 2px;
}

main .itemMozaic .item{
  width: 49%;
  text-align: center;
  display: inline-block;
}

/*Dialog*/
.dialog-container{
  z-index: 2;
}

.dialog-image{
  text-align: center;
}

.dialog-image img{
  width: 60%;
}

.dialog-quantity_buttons{
  text-align: center;
  padding: 8px;
}